<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard Prototype</title>
    <meta name="description" content="">
    <script type="text/javascript">
    // Confirm availability of JS and remove no-js class from html
    var docElement = document.documentElement;
    docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>
</head>
<style>
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.box {
    border: 1px solid #ddd;
    border-radius: 2px;
    float: left;
    margin: 5%;
    padding: 20px;
    width: 40%;
}
.box pre {
    overflow-x: scroll;
}
</style>

<body>
    <div class="box" id="repo-metrics"></div>
    <div class="box" id="total-metrics"><h1>Totals</h1></div>


    <script src="{{ site.baseurl }}/js/vendor/jquery-2.1.3.min.js"></script>
    <script>
    $(function() {
        jQuery.ajaxSetup({async:false});  // no async!

        var githubAPI = 'https://api.github.com/';
        var githubOwner = '{{ site.githubOwner }}'
        var repos = [];

        var totalCommits = 0;
        var totalMilestones = 0;
        var totalOpenMilestones = 0;
        var totalClosedMilestones = 0;
        var totalIssues = 0;
        var totalOpenIssues = 0;
        var totalClosedIssues = 0;

        // create js array from _data/repos.yml
        {% for repo in site.data.repos %}
            repos.push( '{{ repo.name }}' );
        {% endfor %}

        // for each repo
        $.each( repos, function( index, repo ) {
            console.log( repo );

            var commitTotal = 0;
            var openIssues = 0;
            var closedIssues = 0;

            $( "#repo-metrics" ).append( '<h1>' + repo  + '</h1><ul>');
            // get commit totals
            // https://api.github.com/repos/[owner]/[repo]/stats/commit_activity
            $.get( githubAPI + 'repos/' + githubOwner + '/' + repo + '/stats/commit_activity', function( commits ) {
                
            })
            .done( function( commits ) {
                $.each( commits, function( index, commit ) {
                    commitTotal += commit.total;
                    totalCommits += commit.total;
                });
                $( "#repo-metrics" ).append( '<li>Total Commits - ' + commitTotal + '</li>');
            });

            // get milestone totals (open)
            // https://api.github.com/repos/[owner]/[repo]/issues (gives open issues by default)
            $.get( githubAPI + 'repos/' + githubOwner + '/' + repo + '/milestones', function( milestones ) {
                
            })
            .done( function( milestones ) {
                $( "#repo-metrics" ).append( '<li>Open Milestones - ' + milestones.length + '</li>');
                totalMilestones += milestones.length;
                totalOpenMilestones += milestones.length;
            });

            // get milestone totals (closed)
            // https://api.github.com/repos/[owner]/[repo]/issues?state=closed (gives open issues by default)
            $.get( githubAPI + 'repos/' + githubOwner + '/' + repo + '/milestones?state=closed', function( milestones ) {
                
            })
            .done( function( milestones ) {
                $( "#repo-metrics" ).append( '<li>Closed Milestones - ' + milestones.length + '</li>');
                totalMilestones += milestones.length;
                totalClosedMilestones += milestones.length;
            });

            // get issue totals (open)
            // https://api.github.com/repos/[owner]/[repo]/issues (gives open issues by default)
            $.get( githubAPI + 'repos/' + githubOwner + '/' + repo + '/issues', function( issues ) {
                
            })
            .done( function( issues ) {
                $( "#repo-metrics" ).append( '<li>Open Issues - ' + issues.length + '</li>');
                totalIssues += issues.length;
                totalOpenIssues += issues.length;
            });

            // get issue totals (closed)
            // https://api.github.com/repos/[owner]/[repo]/issues?state='closed'
            $.get( githubAPI + 'repos/' + githubOwner + '/' + repo + '/issues?state=closed', function( issues ) {
                
            })
            .done( function( issues ) {
                $( "#repo-metrics" ).append( '<li>Closed Issues - ' + issues.length + '</li></ul>');
                totalIssues += issues.length;
                totalClosedIssues += issues.length;
            });
        });

        $("#total-metrics").append( 'Total Commits = ' + totalCommits + '<br>' + 'Total Milestones = ' + totalMilestones + '<br>' + 'Total Open Milestones = ' + totalOpenMilestones + '<br>' + 'Total Closed Milestones = ' + totalClosedMilestones + '<br>' + 'Total Issues = ' + totalIssues + '<br>' + 'Total Open Issues = ' + totalOpenIssues + '<br>' + 'Total Close Issues = ' + totalClosedIssues);
    });
    </script>
</body>
</html>